XML/Relacion_Final/Ejercicio20_y_21/MOTORSOL.dtd

<!ELEMENT motor (pieza | empleados)+>
<!ELEMENT pieza (#PCDATA)>
<!ELEMENT empleados (responsable, comunes, familiaresACargo)>
<!ELEMENT responsable (#PCDATA)>
<!ELEMENT comunes (comun)+>
<!ELEMENT familiaresACargo (hermanos | primos | abuelos)>
<!ELEMENT hermanos (#PCDATA)>
<!ELEMENT primos (#PCDATA)>
<!ELEMENT abuelos (#PCDATA)>