XML/Relacion_Final/Ejercicio8/xhtml.dtd

<!ELEMENT html (head, body)>
    <!ATTLIST html xmlns CDATA #REQUIRED>
<!ELEMENT head (meta, title)>
<!ELEMENT meta EMPTY>
    <!ATTLIST meta http-equiv CDATA #IMPLIED>
    <!ATTLIST meta content CDATA #IMPLIED>
    <!ATTLIST meta charset CDATA #IMPLIED>
<!ELEMENT title (#PCDATA)>
<!ENTITY iacute "í">
<!ELEMENT body (p+)>
    <!ATTLIST body bgcolor CDATA #REQUIRED>
<!ELEMENT p (#PCDATA)>
    <!ATTLIST p align CDATA #IMPLIED>