XML/Relacion_Final/Ejercicio14_y_15/banco_lorca.dtd

<!ELEMENT banco (sucursal)+>
<!ELEMENT sucursal (cuentaCorriente)+>
    <!ATTLIST sucursal id CDATA #REQUIRED>
<!ELEMENT cuentaCorriente (cliente, domiciliaciones)+>
    <!ATTLIST cuentaCorriente codigo CDATA #REQUIRED>
<!ELEMENT cliente (operaciones | privilegios | prestamosConcedidos)>
    <!ATTLIST cliente nif ID #REQUIRED>
<!ELEMENT operaciones (#PCDATA)> 
<!ELEMENT privilegios (#PCDATA)> 
<!ELEMENT prestamosConcedidos (#PCDATA)>
<!ELEMENT domiciliaciones (#PCDATA)>